.header {
  background-color: rgba(218, 165, 32, 0.568);
  margin: 10px;
  border-radius: 5px;
  padding: 10px;
}
.header h1 {
  font-size: 50px;
  font-weight: 600;
}
.header h5 {
  font-size: 30px;
}
.orange {
  color: rgb(235, 99, 49);
}
